<div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-map" style="font-size:30px; color:#3498db;"></span>
                </button>
                <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-map" style="font-size:18px; color:#3498db;"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li> <a href="#about" class="smoothScroll"> A Propos</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Formation <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#formation" class="smoothScroll"> Cours</a></li>
                            <li><a href="#certif" class="smoothScroll"> Certifications</a></li>
                        </ul>
                    </li>
                    <li> <a href="#team" class="smoothScroll"> Enseignants</a></li>
                    <li> <a href="#events" class="smoothScroll"> Évènements</a></li>
                    <li> <a href="#admin" class="smoothScroll"> Admin</a></li>
                    <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>